
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form input {
    margin-top: 10px;
}


.form button {
    margin-top: 20px;
    margin-left: 50px;
}

.emailEror {
    color: red;
}